* {
    padding: 0;
    margin: 0 auto;
    width: auto;
}

header {
    background-color: brown;
    width: 100%;
}

main {
    background-color: antiquewhite;
}
.card-img-top {
    height: 300px;
}

.card-img {
    height: 150px;
    object-fit: contain;
}